<% layout('layouts/boilerplate') %> 
    <div id="cluster-map" ></div>
    <h1>All Campgrounds</h1>
    <% for( let cg of campground) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if (cg.images.length) { %>
                        <img src="<%= cg.images[0].url %> " class="img-fluid">
                    <% }else{ %>
                        <img src="/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg" class="img-fluid">
                        <% } %> 
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= cg.title %> </h5>
                        <p class="card-text"><%= cg.description %> </p>
                        <p class="card-text"><small class="text-muted"><%= cg.location %> </small></p>
                        <a href="/campgrounds/<%=cg.id%>" class="btn btn-primary">View <%= cg.title %> </a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campground = {features: <%- JSON.stringify(campground) %>}
      </script>

    <script src="/javascripts/clusterMap.js"></script>
